#page-content {
    height: 80vh;
  }


  .page-section {
    width: 75vw;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.5s ease-in-out;
  }
  

  .ceremony-and-reception-parent {

    height: 80vh;
  }

  