.rsvp-form {
    display: flex;
    width: 100%
}

.rsvp-row {
    display: flex;
    height: 60px;
    vertical-align: middle;
    text-align: left;
    justify-content: space-between;
}

.rsvp-button-row {
    display: flex;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    justify-content: space-around; 
}

.rsvp-column {
    display: flex;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
    width: 100%;
}

.rsvp-column-freetext {
    display: flex;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
    width: 80%;
}

.rsvp-block-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.rsvp-block-2 {
    display: flex;
    justify-content: space-between;
}

.rsvp-block-3 {
    display: flex;
    justify-content: space-between;
}




@media only screen and (max-width: 1000px) {


    .rsvp-block-1 {
        display: flex;
        flex-direction: column;
        height: 2vh;

    }

    .rsvp-block-2 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .rsvp-block-3 {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .form-button {
        width: 30%;
    }
}


@media only screen and (max-width: 1575px) {

    .rsvp-block-1 {
        display: flex;
        flex-direction: row;
    }
}



@media only screen and (max-width: 600px) {



    .rsvp-block-1 {
        display: flex;
        flex-direction: column;
        height: 2vh;

    }

    .rsvp-block-2 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .rsvp-block-3 {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .form-button {
        width: 30%;
    }


}


