/* :root {
    --cover-page-height: 80vh;
    --main-dark-colour: #636363;
    --mid-dark-colour: #666666;
    --dark-colour-transparent: rgba(0, 0, 0, 0.5);
    --dark-colour-semitransparent: rgba(0, 0, 0, 0.4);
    --warm-colour-semitransparent: rgba(196, 188, 188, 0.5);
    --soft-dark-colour: #7c7c7c;
    --soft-background-colour: white;
    --light-colour: #efeeee;
    --warm-colour: #c4bcbc;
    --gentle-mid-colour: #a6a3a1;
    --mid-colour: #959493;
    --border-width: 5px;
} */

:root {
    --colour-1: #FFFFFF;
    --colour-2: #fffff9;
    --colour-3: #f1e2c7;
    --colour-4:  #e2c484;
    --colour-5: #053c5c;
    --colour-6: #091d36;
    --colour-7: #000000;
    --cover-page-height: 80vh;
    --main-dark-colour: #091d36;
    --mid-dark-colour: #053c5c;
    --dark-colour-transparent: rgba(0,0,0, 0.5);
    --dark-colour-semitransparent: rgba(0,0,0, 0.4);
    --warm-colour-semitransparent: rgba(226,180,140,0.3);
    --soft-dark-colour: #e2c484;
    --soft-background-colour: white;
    --light-colour: #fffff9;
    --warm-colour: rgba(226,196,132);
    --gentle-mid-colour: #f1e2c7;
    --mid-colour: #e2c484;
    --border-width: 5px;
  }

  #page-content {
    opacity: 0.5;
    transition: opacity 0.2s;
}

button {
    background-color: var(--soft-background-colour);
}

.rsvp-form {
    display: flex;
    width: 100%;
    height: auto;
    font-family: "Playfair Display SC", serif;
}

.rsvp-row {
    display: flex;
    vertical-align: middle;
    text-align: left;
    justify-content: space-between;
    width: 100%;
}

h4 {
    margin-top: 0.5rem;
}

.rsvp-button-row {
    display: flex;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}

.rsvp-column {
    display: flex;
    vertical-align: middle;
    padding-right: 10px;
    text-align: left;
    margin-left: 10px;
    width: 20vw;
    height: 60px;
}

.rsvp-column-freetext {
    display: flex;
    vertical-align: middle;
    text-align: left;
}

.rsvp-block-1 {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 40vw;
}

.rsvp-block-4 {
    min-height: 100%;
}

.rsvp-block-5 {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.rsvp-block-2 {
    display: flex;
    min-height: 100%;
    width: 20vw;
}

.rsvp-block-3 {
    display: flex;
    min-height: 100%;
}

.form-grid {
    display: flex;
    flex: 2;
    min-height: 100%;
}

.diet-detail-column {
    width: 100%;
    display: flex;
    justify-self: flex-end;
    margin-left: 20px;
}

@media only screen and (max-width: 500px) {
    .dropdown-toggle {
        font-size: xx-small;
        width: 50vw;
    }
    .diet-detail-column {
        width: 100%;
        margin-left: 0px;
    }

    h4 {
        font-size: xx-small;
    }


    
}

@media only screen and (min-width: 1000px) and (max-width: 1250px) {

    .rsvp-column {
        width: 15vw;
    }

    .diet-detail-column {
        margin-left: 40px;
    }

    .dropdown-toggle {
        max-width: 10vw;
    }

}

@media only screen and (max-width: 1000px) {

    .dropdown-toggle {
        min-width: 50vw;
    }
    .rsvp-block-1 {
        display: flex;
        flex-direction: column;
        height: 2vh;
    }

    .rsvp-block-2 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2vh;
    }

    .rsvp-block-3 {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .diet-detail-column {
        width: 100%;
        margin-top: 1vh;
    }

    .form-button {
        width: 30%;
    }

    .rsvp-row {
        display: flex;

        vertical-align: middle;
        text-align: left;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .diet-detail-column {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 1575px) {
    .rsvp-block-1 {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1000px) {
    .rsvp-block-1 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sb-mob {
        justify-content: space-between;
        display: flex;
        vertical-align: middle;
        text-align: center;
        width: 100%;
    }


    .rsvp-block-2 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .rsvp-block-3 {
        display: flex;
        flex-direction: row;
    }

    .form-button {
        width: 30%;
    }
}

input {
    font-family: "Open Sans", sans-serif;
}

.form-group {
    width: 100%;
    font-family: "Playfair Display SC", serif;
    margin-bottom: 1vh;
    margin-right: 0px;
}

form {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 60px;
    color: var(--main-dark-colour);
    background-color: var(--soft-background-colour);
    background-clip: padding-box;
    border: 1px solid var(--mid-dark-colour);
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: small;
}

option {
    padding: 10px;
    font-size: larger;
    width: 100%;
}

li {
    cursor: pointer;
}

#list-of-invitations-names {
    line-height: 60px;
    width: 100%;
}

option:hover {
    background-color: var(--warm-colour-semitransparent);
}

.form-control-lookup {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: var(--main-dark-colour);
    background-color: var(--soft-background-colour);
    background-clip: padding-box;
    border: 1px solid var(--mid-dark-colour);
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: small;
}

#list-of-invitations-names {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;

}



#whole-form-input {
    padding-top: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

#confirmation-text {
    padding: 2vh;
    padding-top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.hide-on-load {
    display: none;
}

#contact-page {
    position: relative;
}

.person-row {
    display: none;
}

#gifContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hide the container initially */
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  #gif {
    animation: zoomAndMove 20s infinite;
    width: 100%;
    height: 100%;
  }
  @keyframes zoomAndMove {
    0%, 100% {
      transform: scale(1) translate(0, 0);
    }
    25% {
      transform: scale(1.2) translate(50px, 50px);
    }
    50% {
      transform: scale(1.5) translate(100px, -100px);
    }
    75% {
      transform: scale(1.2) translate(-50px, -50px);
    }
  }


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gentle-mid-colour);
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--soft-background-colour);
    transition: 0.4s;
  }
  
  input:checked+.slider {
    background-color: var(--warm-colour);
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px var(--gentle-mid-colour);
  }
  
  input:checked+.slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input {
    height: 60px;
    margin: 0px;
  }
  
  label {
    margin-right: 10px;
    font-size: x-small;
    padding-top: 25px;
  }
  
  .dropdown-toggle {
    font-size: small;
  }
  
  
  
  .textinput {
    width: 200%;
  }
  