:root {
  --cover-page-height: 900px;
  --main-dark-colour: #636363;
  --mid-dark-colour: #666666;
  --soft-dark-colour: #7c7c7c;
  --soft-background-colour: white;
  --light-colour: #efeeee;
  --warm-colour: #c4bcbc;
  --gentle-mid-colour: #a6a3a1;
  --mid-colour: #959493;
}

.header-and-nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.columns {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

.column {
  display: flex;
  padding: 10px;
  height: 400px;
}

#header {
  padding: 20px;
}

body {
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  background-color: var(--soft-background-colour);
  position: absolute;
  overflow: hidden;
}

.cover-page-image {
  z-index: -2;
  height: var(--cover-page-height);
  width: 100vw;
  object-fit: cover;
  opacity: 0.9;
  margin-top: 157px;
  overflow: hidden;
}

#cover-page-gradient {
  z-index: 1;
  margin-top: 157px;
  background: var(--soft-background-colour);
  background: linear-gradient(0deg, rgba(252, 250, 250, 0) 0%, rgba(0, 0, 0, 1) 100%);
  height: var(--cover-page-height);
  width: 100vw;
  position: fixed;
  opacity: 1;
  overflow: hidden;
}

#cover-page {
  z-index: 2;
  color: var(--soft-background-colour);
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  overflow: hidden;
  margin-top: 157px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  object-fit: scale-down;
}

.main-content {
  z-index: 2;
}

#page-content {
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  overflow: scroll;
  margin-top: 157px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-dark-colour);
  z-index: 2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.header-and-nav {
  display: flex;
  flex-direction: column;
}

nav {
  font-family: 'Playfair Display', serif;
  color: var(--main-dark-colour);
  text-decoration: none;
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--main-dark-colour);
  align-self: center;
  position: relative;
  z-index: 1;
}

.carousel-display-home {
  height: var(--cover-page-height);
  width: 100vw;
  border-radius: 300px 300px 0px 0px;
}

.carousel-display {
  height: 600px;
  width: 600px;
  border-radius: 300px 300px 0px 0px;
}

.square {
  height: 600px;
  width: 600px;
  object-fit: cover;
  border-radius: 300px 300px 0px 0px;
}

.invite {
  height: 600px;
  width: 600px;
  object-fit: contain;
}

.carousel-caption {
  visibility: hidden;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  display: inline-block;
}

li {
  list-style-type: none;
  margin: 0 3vw;
  padding: 0;
  display: inline-block;
  text-align: center;
  color: var(--main-dark-colour);
}

a {
  display: inline-block;
  position: relative;
  display: block;
  color: var(--main-dark-colour);
}

a:link {
  color: var(--main-dark-colour);
  text-decoration: solid;
}

a:visited {
  color: var(--main-dark-colour);
}

a:hover {
  color: var(--main-dark-colour);
}

a:hover:before {
  content: '.';
  display: inline-block;
  position: absolute;
  bottom: -0.5em;
  left: 0;
  text-align: center;
  width: 100%;
  color: var(--main-dark-colour);
}

a:active {
  color: var(--main-dark-colour);
}

.noScrollBar {
  -ms-overflow-style: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: var(--soft-background-colour);
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-colour);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--soft-background-colour);
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--warm-colour);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--gentle-mid-colour);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.rsvp-form {
  display: flex;
}

.rsvp-row {
  display: flex;
  height: 60px;
  vertical-align:middle;
  text-align: left;
  width: 100%;
}

.rsvp-column {
  display: flex;
  vertical-align: middle;
  text-align: left;
  margin-left: 10px;
}

input {
  height: 60px;
  margin: 0px;
}

label {
  margin-right: 10px;
  font-size: x-small;
  padding-top: 25px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  line-height: 60px;
  color: var(--main-dark-colour);
  background-color: var(--soft-background-colour);
  background-clip: padding-box;
  border: 1px solid var(--mid-colour);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: small;
}

.dropdown-toggle {
  font-size: small;
}

.textinput {
  width: 200%;
}

.btn-secondary {
  color: var(--main-dark-colour);
  background-color: var(--soft-background-colour);
  border-color: var(--gentle-mid-colour);
  height: 60px;
}

.timetable {
  display: flex;
  flex-direction: column;
}

.timetable-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.time {
  font-style: oblique;
  width: 80px;
  text-align: left;
  margin-left: 80px;
}

.choir-info-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choir-info-child {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding: 20px;
  justify-content: space-between;
}

.choir-info-grandchild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 10vh;
}

.choir-info-media {
  max-height: 15vh;
  max-width: 100%;
  display: inline;
  align-self: end;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: larger;
  }

  h2 {
    font-size: large;
  }

  h3 {
    font-size: medium;
  }

  h4 {
    font-size: small;
  }

  p {
    font-size: small;
  }

  #page-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 0px;
  }

  .header-and-nav {
    width: 100vw;
    margin: 0px;
  }

  li {
    font-size: x-small;
  }

  .carousel-display {
    height: 300px;
    width: 300px;
    border-radius: 150px 150px 0px 0px;
  }

  .square {
    height: 300px;
    width: 300px;
    border-radius: 150px 150px 0px 0px;
  }

  .columns {
    flex-direction: column;
  }

  .column {
    height: 200px;
  }

  .invite {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .choir-info-parent {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 100%;
    align-content: center;
  }

  .choir-info-child {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-content: center;
    min-height: 12vh;
    justify-content: space-between;
  }

  .choir-info-grandchild {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    padding: 15px;
  }

  .choir-info-media {
    max-height: 10vh;
    max-width: 15vw;
    align-self: center;
    justify-self: end;
  }
}
