<!DOCTYPE html>
<html>
    <head>
    <!-- title: CHANGE ME -->
        <title>Maggie and Ollie's Wedding!</title>
        
    <!-- stylesheets -->
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&family=Playfair+Display+SC&display=swap" rel="stylesheet">


    <!-- scripts-->

    <!-- meta -->
    <meta name="author" content="Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The wedding of Maggie Hunt and Oliver Norman">    
    </head>
    
    <body class="noScrollBar">
      <div class="header-and-nav">
        <div id="header"><h1>M&O</h1></div>
        <nav>
        <ul>
          <li>
            <a>Ceremony</a>
        </li>
        <li>
          <a>RSVP</a>
      </li>
      <li>
        <a>Choir</a>
    </li>
    <li>
      <a>Gift Registry</a>
  </li>
        </ul>
    </nav></div>
      <div id="page-content" class="main-content">
        <h2>the wedding of</h2>
     <h1>Maggie Rose Prinn Hunt<br>&<br>Oliver John Benjamin Norman</h1>
     <h3>Spring/Summer 2024</h3>
       <p>Hi!<br>Welcome to our Wedding Website.<br>
        <br>As you can see, it's a work in progress - we got engaged on the 10th December 2022, and we can't wait to share our celebrations with you!
      </p></div>
    </body>
</html>
