<!DOCTYPE html>
<html>

<head>

  <title>Maggie and Ollie's Wedding!</title>
  <link rel="icon" href="../static/images/icon.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <link rel="stylesheet" href="../static/css/RSVPstylesheet.css">
  <link rel="stylesheet" href="../static/css/noninfo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&family=Playfair+Display+SC&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Meta -->
  <meta name="author" content="Maggie Hunt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The wedding of Maggie Hunt and Oliver Norman">

</head>

<body><input type="checkbox" id="up-to-top-check" hidden>
  <button id="up-to-top" title="Go to top"><a class="up-to-top-link" href="#RSVP-form-start">^</a></button>

  <div class="header-and-nav topnav">
    <div id="header">
      <h1><a href="/">M&O</a></h1>
    </div>
    <nav class="big-menu">
      <ul>
        <li><a href="/#ceremony">Ceremony</a></li>
        <li><a href="/#reception">Reception</a></li>
        <li><a href="RSVP">RSVP</a></li>
        <li><a onclick="revealFromRSVP('gettingThere')">Getting There</a></li>
        <li><a onclick="revealFromRSVP('accommodation')">Accommodation</a></li>
        <li><a onclick="revealFromRSVP('dressCode')">Dress Code</a></li>
        <li><a onclick="revealFromRSVP('giftRegistry')">Gift Registry</a></li>
        <li><a onclick="revealFromRSVP('choir')">Choir</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Navigation links (hidden by default) -->
    <nav class="small-menu">
      <div id="myLinks">
        <a href="/#ceremony" onclick="expandFunction()">Ceremony</a>
        <a href="/#reception" onclick="expandFunction()">Reception</a>
        <a href="/RSVP" onclick="expandFunction()">RSVP</a>
        <a href="/#getting-there-accommodation" onclick="expandFunction(); revealFromRSVP('gettingThere')">Getting
          There</a>
        <a href="/#getting-there-accommodation"
          onclick="expandFunction(); revealFromRSVP('accommodation')">Accommodation</a>
        <a href="/#dress-code-gift-registry-choir" onclick="expandFunction(); revealFromRSVP('dressCode')">Dress
          Code</a>
        <a href="/#dress-code-gift-registry-choir" onclick="expandFunction(); revealFromRSVP('giftRegistry')">Gift
          Registry</a>
        <a href="/#dress-code-gift-registry-choir" onclick="expandFunction(); revealFromRSVP('choir')">Choir</a>
        <a href="/#contact-us" onclick="expandFunction()">Contact Us</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="expandFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </div>

  <div id="page-content" class="main-content">
    <h3 id="RSVP-form-start">RSVP</h3>
    <form id="rsvp-form" action="/thankyou" method="post" onsubmit="submitSwan(event)">
      <div>
        <div class="form-group">


          <input type="text" class="form-control" name="search-your-name" id="search-your-name" autocomplete="off"
            oninput="inviteSearch(invitations)" placeholder="Search for your name...">
          <select class="form-select form-control-lookup hide-on-load" id="list-of-invitations-names" size="3"
            aria-label="Search for your name" onchange="numberOfInvitees (); selectInvitation();">
            <option class="hide-on-laptop">Search...</option>
            <span id="list-of-invitations-names-text" ></span>
            <!-- No initial options in the select element -->
          </select>
        </div>



        <div class="form-group rsvp-form">
          <label for="inputName">Invitation Group</label>
          <span class="form-control" type="text" placeholder="..." id="invitation-group"></span>
        </div>


        <div id="whole-form-input">
          <div id="person1" class="rsvp-row form-group rsvp-form person-row">
            <div id="rsvp1" class="rsvp-row rsvp-block-1 form-group">
              <div class="rsvp-block-2">
                <div class="rsvp-column">

                  <h9><span id="invitee-form1"></span></h9><input hidden name="invitee-form1"
                    id="invitee-form-value1"></input>
                </div>
                <div class="rsvp-column">
                  <label class="switch" for="RSVPCheck1">
                    <input type="checkbox" name="RSVPCheck1" id="RSVPCheck1" onchange="toggleFormSection(1)">
                    <span class="slider round"></span>RSVP
                  </label>
                </div>
              </div> <span class="form-grid">
                <span class="hide-on-load rsvp-block-1 rsvp-block-4" id="RSVPDetails1">
                  <div class="rsvp-block-2 sb-mob">
                    <div class="rsvp-column">
                      <label class="switch" for="RSVPChoir1">
                        <input type="checkbox" name="RSVPChoir" id="RSVPChoir1" onchange="toggleFormSection(1)">
                        <span class="slider round"></span>Choir
                      </label>
                    </div>
                    <div class="rsvp-column dropdown rsvp-block-5">
                      <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                        aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                        name="dropdownVocalPart1" id="dropdownVocalPart1" onchange="toggleFormSection(1)">
                        <option class="dropdown-item">Vocal part</option>
                        <option class="dropdown-item">Soprano</option>
                        <option class="dropdown-item">Mezzosoprano</option>
                        <option class="dropdown-item">Alto</option>
                        <option class="dropdown-item">Tenor</option>
                        <option class="dropdown-item">Baritone</option>
                        <option class="dropdown-item">Bass</option>
                      </select>
                    </div>
                  </div>
                  <div class="rsvp-block-2 sb-mob">
                    <div class="rsvp-column">
                      <label class="switch" for="RSVPDiet1">
                        <input type="checkbox" name="RSVPDiet1" id="RSVPDiet1" onchange="toggleFormSection(1)">
                        <span class="slider round"></span>Dietary Requirements
                      </label>
                    </div>
                    <div class="rsvp-column dropdown rsvp-block-5">
                      <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                        aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                        onchange="toggleFormSection(1)" name="dropdownDiet1" id="dropdownDiet1">
                        <option class="dropdown-item">Dietary Requirements</option>
                        <option class="dropdown-item">Nut allergy</option>
                        <option class="dropdown-item">Vegetarian</option>
                        <option class="dropdown-item">Vegan</option>
                        <option class="dropdown-item">Dairy free</option>
                        <option class="dropdown-item">No pork</option>
                        <option class="dropdown-item">No beef</option>
                        <option class="dropdown-item">Multiple/Other</option>
                      </select>
                    </div>
                  </div>

                  <div id="dietary-sect-1" class="diet-detail-column hide-on-load rsvp-block-2">
                    <div class="rsvp-column-freetext diet-detail-column" id="diet-detail-column1">

                      <input type="text" class="form-control textinput" name="dietDetail1" id="dietDetail1"
                        placeholder="Please provide details of your dietary requirement(s)"
                        oninput="toggleFormSection(1)">
                      <div id="output"></div>
                    </div>
                  </div>
                </span></span>
            </div>
          </div>
          <div id="person2" class="rsvp-row form-group rsvp-form  person-row">
            <div id="rsvp2" class="rsvp-row rsvp-block-1 form-group">
              <div class="rsvp-block-2">
                <div class="rsvp-column">

                  <h9><span name="invitee-form2" id="invitee-form2"></span></h9><input hidden name="invitee-form2"
                    id="invitee-form-value2"></input>
                </div>
                <div class="rsvp-column">
                  <label class="switch" for="RSVPCheck2">
                    <input type="checkbox" name="RSVPCheck2" id="RSVPCheck2" onchange="toggleFormSection(2)">
                    <span class="slider round"></span>RSVP
                  </label>
                </div>
              </div>
              <span class="hide-on-load rsvp-block-1 rsvp-block-4" id="RSVPDetails2">
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPChoir2">
                      <input type="checkbox" name="RSVPChoir1" id="RSVPChoir2" onchange="toggleFormSection(2)">
                      <span class="slider round"></span>Choir
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      name="dropdownVocalPart2" id="dropdownVocalPart2" onchange="toggleFormSection(2)">
                      <option class="dropdown-item">Vocal part</option>
                      <option class="dropdown-item">Soprano</option>
                      <option class="dropdown-item">Mezzosoprano</option>
                      <option class="dropdown-item">Alto</option>
                      <option class="dropdown-item">Tenor</option>
                      <option class="dropdown-item">Baritone</option>
                      <option class="dropdown-item">Bass</option>
                    </select>
                  </div>
                </div>
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPDiet2">
                      <input type="checkbox" name="RSVPDiet2" id="RSVPDiet2" onchange="toggleFormSection(2)">
                      <span class="slider round"></span>Dietary Requirements
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      onchange="toggleFormSection(2)" name="dropdownDiet2" id="dropdownDiet2">
                      <option class="dropdown-item">Dietary Requirements</option>
                      <option class="dropdown-item">Nut allergy</option>
                      <option class="dropdown-item">Vegetarian</option>
                      <option class="dropdown-item">Vegan</option>
                      <option class="dropdown-item">Dairy free</option>
                      <option class="dropdown-item">No pork</option>
                      <option class="dropdown-item">No beef</option>
                      <option class="dropdown-item">Multiple/Other</option>
                    </select>
                  </div>
                </div>
              </span>
              <div id="dietary-sect-2" class="diet-detail-column hide-on-load rsvp-block-2">
                <div class="rsvp-column-freetext diet-detail-column" id="diet-detail-column2">

                  <input type="text" class="form-control textinput" name="dietDetail2" id="dietDetail2"
                    placeholder="Please provide details of your dietary requirement(s)" oninput="toggleFormSection(2)">
                  <div id="output"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="person3" class="rsvp-row form-group rsvp-form  person-row">
            <div id="rsvp3" class="rsvp-row rsvp-block-1 form-group">
              <div class="rsvp-block-2">
                <div class="rsvp-column">

                  <h9><span name="invitee-form3" id="invitee-form3"></span></h9><input hidden name="invitee-form3"
                    id="invitee-form-value3"></input>
                </div>
                <div class="rsvp-column">
                  <label class="switch" for="RSVPCheck3">
                    <input type="checkbox" name="RSVPCheck3" id="RSVPCheck3" onchange="toggleFormSection(3)">
                    <span class="slider round"></span>RSVP
                  </label>
                </div>
              </div>
              <span class="hide-on-load rsvp-block-1 rsvp-block-4" id="RSVPDetails3">
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPChoir3">
                      <input type="checkbox" name="RSVPChoir3" id="RSVPChoir3" onchange="toggleFormSection(3)">
                      <span class="slider round"></span>Choir
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      name="dropdownVocalPart3" id="dropdownVocalPart3" onchange="toggleFormSection(3)">
                      <option class="dropdown-item">Vocal part</option>
                      <option class="dropdown-item">Soprano</option>
                      <option class="dropdown-item">Mezzosoprano</option>
                      <option class="dropdown-item">Alto</option>
                      <option class="dropdown-item">Tenor</option>
                      <option class="dropdown-item">Baritone</option>
                      <option class="dropdown-item">Bass</option>
                    </select>
                  </div>
                </div>
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPDiet3">
                      <input type="checkbox" name="RSVPDiet3" id="RSVPDiet3" onchange="toggleFormSection(3)">
                      <span class="slider round"></span>Dietary Requirements
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      onchange="toggleFormSection(3)" name="dropdownDiet3" id="dropdownDiet3">
                      <option class="dropdown-item">Dietary Requirements</option>
                      <option class="dropdown-item">Nut allergy</option>
                      <option class="dropdown-item">Vegetarian</option>
                      <option class="dropdown-item">Vegan</option>
                      <option class="dropdown-item">Dairy free</option>
                      <option class="dropdown-item">No pork</option>
                      <option class="dropdown-item">No beef</option>
                      <option class="dropdown-item">Multiple/Other</option>
                    </select>
                  </div>
                </div>
              </span>
              <div id="dietary-sect-3" class="diet-detail-column hide-on-load rsvp-block-2">
                <div class="rsvp-column-freetext diet-detail-column" id="diet-detail-column3">

                  <input type="text" class="form-control textinput" name="dietDetail3" id="dietDetail3"
                    placeholder="Please provide details of your dietary requirement(s)" oninput="toggleFormSection(3)">
                  <div id="output"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="person4" class="rsvp-row form-group rsvp-form  person-row">
            <div id="rsvp4" class="rsvp-row rsvp-block-1 form-group">
              <div class="rsvp-block-2">
                <div class="rsvp-column">

                  <h9><span name="invitee-form4" id="invitee-form4"></span></h9><input hidden name="invitee-form4"
                    id="invitee-form-value4"></input>
                </div>
                <div class="rsvp-column">
                  <label class="switch" for="RSVPCheck4">
                    <input type="checkbox" name="RSVPCheck4" id="RSVPCheck4" onchange="toggleFormSection(4)">
                    <span class="slider round"></span>RSVP
                  </label>
                </div>
              </div>
              <span class="hide-on-load rsvp-block-1 rsvp-block-4" id="RSVPDetails4">
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPChoir4">
                      <input type="checkbox" name="RSVPChoir4" id="RSVPChoir4" onchange="toggleFormSection(4)">
                      <span class="slider round"></span>Choir
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      name="dropdownVocalPart4" id="dropdownVocalPart4" onchange="toggleFormSection(4)">
                      <option class="dropdown-item">Vocal part</option>
                      <option class="dropdown-item">Soprano</option>
                      <option class="dropdown-item">Mezzosoprano</option>
                      <option class="dropdown-item">Alto</option>
                      <option class="dropdown-item">Tenor</option>
                      <option class="dropdown-item">Baritone</option>
                      <option class="dropdown-item">Bass</option>
                    </select>
                  </div>
                </div>
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPDiet4">
                      <input type="checkbox" name="RSVPDiet4" id="RSVPDiet4" onchange="toggleFormSection(4)">
                      <span class="slider round"></span>Dietary Requirements
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      onchange="toggleFormSection(4)" name="dropdownDiet4" id="dropdownDiet4">
                      <option class="dropdown-item">Dietary Requirements</option>
                      <option class="dropdown-item">Nut allergy</option>
                      <option class="dropdown-item">Vegetarian</option>
                      <option class="dropdown-item">Vegan</option>
                      <option class="dropdown-item">Dairy free</option>
                      <option class="dropdown-item">No pork</option>
                      <option class="dropdown-item">No beef</option>
                      <option class="dropdown-item">Multiple/Other</option>
                    </select>
                  </div>
                </div>
              </span>
              <div id="dietary-sect-4" class="diet-detail-column hide-on-load rsvp-block-2">
                <div class="rsvp-column-freetext diet-detail-column" id="diet-detail-column4">

                  <input type="text" class="form-control textinput" name="dietDetail4" id="dietDetail4"
                    placeholder="Please provide details of your dietary requirement(s)" oninput="toggleFormSection(4)">
                  <div id="output"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="person5" class="rsvp-row form-group rsvp-form person-row">
            <div id="rsvp5" class="rsvp-row rsvp-block-1 form-group">
              <div class="rsvp-block-2">
                <div class="rsvp-column">

                  <h9><span name="invitee-form5" id="invitee-form5"></span></h9><input hidden name="invitee-form5"
                    id="invitee-form-value5"></input>
                </div>
                <div class="rsvp-column">
                  <label class="switch" for="RSVPCheck5">
                    <input type="checkbox" name="RSVPCheck5" id="RSVPCheck5" onchange="toggleFormSection(5)">
                    <span class="slider round"></span>RSVP
                  </label>
                </div>
              </div>
              <span class="hide-on-load rsvp-block-1 rsvp-block-4" id="RSVPDetails5">
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPChoir5">
                      <input type="checkbox" name="RSVPChoir5" id="RSVPChoir5" onchange="toggleFormSection(5)">
                      <span class="slider round"></span>Choir
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      name="dropdownVocalPart5" id="dropdownVocalPart5" onchange="toggleFormSection(5)">
                      <option class="dropdown-item">Vocal part</option>
                      <option class="dropdown-item">Soprano</option>
                      <option class="dropdown-item">Mezzosoprano</option>
                      <option class="dropdown-item">Alto</option>
                      <option class="dropdown-item">Tenor</option>
                      <option class="dropdown-item">Baritone</option>
                      <option class="dropdown-item">Bass</option>
                    </select>
                  </div>
                </div>
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPDiet5">
                      <input type="checkbox" name="RSVPDiet5" id="RSVPDiet5" onchange="toggleFormSection(5)">
                      <span class="slider round"></span>Dietary Requirements
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      onchange="toggleFormSection(5)" name="dropdownDiet5" id="dropdownDiet5">
                      <option class="dropdown-item">Dietary Requirements</option>
                      <option class="dropdown-item">Nut allergy</option>
                      <option class="dropdown-item">Vegetarian</option>
                      <option class="dropdown-item">Vegan</option>
                      <option class="dropdown-item">Dairy free</option>
                      <option class="dropdown-item">No pork</option>
                      <option class="dropdown-item">No beef</option>
                      <option class="dropdown-item">Multiple/Other</option>
                    </select>
                  </div>
                </div>
              </span>
              <div id="dietary-sect-5" class="diet-detail-column hide-on-load rsvp-block-2">
                <div class="rsvp-column-freetext diet-detail-column" id="diet-detail-column5">

                  <input type="text" class="form-control textinput" name="dietDetail5" id="dietDetail5"
                    placeholder="Please provide details of your dietary requirement(s)" oninput="toggleFormSection(5)">
                  <div id="output"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="person6" class="rsvp-row form-group rsvp-form person-row">
            <div id="rsvp6" class="rsvp-row rsvp-block-1 form-group">
              <div class="rsvp-block-2">
                <div class="rsvp-column">

                  <h9><span name="invitee-form6" id="invitee-form6"></span></h9><input hidden name="invitee-form6"
                    id="invitee-form-value6"></input>
                </div>
                <div class="rsvp-column">
                  <label class="switch" for="RSVPCheck6">
                    <input type="checkbox" name="RSVPCheck6" id="RSVPCheck6" onchange="toggleFormSection(6)">
                    <span class="slider round"></span>RSVP
                  </label>
                </div>
              </div>
              <span class="hide-on-load rsvp-block-1 rsvp-block-4" id="RSVPDetails6">
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPChoir6">
                      <input type="checkbox" name="RSVPChoir6" id="RSVPChoir6" onchange="toggleFormSection(6)">
                      <span class="slider round"></span>Choir
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      name="dropdownVocalPart6" id="dropdownVocalPart6" onchange="toggleFormSection(6)">
                      <option class="dropdown-item">Vocal part</option>
                      <option class="dropdown-item">Soprano</option>
                      <option class="dropdown-item">Mezzosoprano</option>
                      <option class="dropdown-item">Alto</option>
                      <option class="dropdown-item">Tenor</option>
                      <option class="dropdown-item">Baritone</option>
                      <option class="dropdown-item">Bass</option>
                    </select>
                  </div>
                </div>
                <div class="rsvp-block-2 sb-mob">
                  <div class="rsvp-column">
                    <label class="switch" for="RSVPDiet6">
                      <input type="checkbox" name="RSVPDiet6" id="RSVPDiet6" onchange="toggleFormSection(6)">
                      <span class="slider round"></span>Dietary Requirements
                    </label>
                  </div>
                  <div class="rsvp-column dropdown rsvp-block-5">
                    <select class="btn btn-secondary dropdown-toggle hide-on-load" data-toggle="dropdown"
                      aria-labelledby="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                      onchange="toggleFormSection(6)" name="dropdownDiet6" id="dropdownDiet6">
                      <option class="dropdown-item">Dietary Requirements</option>
                      <option class="dropdown-item">Nut allergy</option>
                      <option class="dropdown-item">Vegetarian</option>
                      <option class="dropdown-item">Vegan</option>
                      <option class="dropdown-item">Dairy free</option>
                      <option class="dropdown-item">No pork</option>
                      <option class="dropdown-item">No beef</option>
                      <option class="dropdown-item">Multiple/Other</option>
                    </select>
                  </div>
                </div>
              </span>
              <div id="dietary-sect-6" class="diet-detail-column hide-on-load rsvp-block-2">
                <div class="rsvp-column-freetext diet-detail-column" id="diet-detail-column6">

                  <input type="text" class="form-control textinput" name="dietDetail6" id="dietDetail6"
                    placeholder="Please provide details of your dietary requirement(s)" oninput="toggleFormSection(6)">
                  <div id="output"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="confirmation-text">
          <div id="rsvpConfirmation1" class="rsvp-row form-group rsvp-form  person-row">
            <p>
              <span id="invitee-summary1"></span>
              is <span id="RSVPNo1">not </span>able to attend the wedding.

              <span id="ChoirYes1" class="hide-on-load">
                They will be joining the choir, singing <span id="voicePartGuest1"></span>.
              </span>
              <span id="dietary1" class="hide-on-load">They have <span id="DietNo1">no dietary requirements</span>
                <span id="DietYes1" class="hide-on-load">the following dietary requirements: <span
                    id="dietOption1"></span><span id="dietDetailText1"></span></span>
            </p>
          </div>
          <div id="rsvpConfirmation2" class="rsvp-row form-group rsvp-form  person-row">
            <p>
              <span id="invitee-summary2"></span>
              is <span id="RSVPNo2">not </span>able to attend the wedding.
              <span id="ChoirYes2" class="hide-on-load">
                They will be joining the choir, singing <span id="voicePartGuest2"></span>.
              </span>
              <span id="dietary2" class="hide-on-load">They have <span id="DietNo2">no dietary requirements</span>
                <span id="DietYes2" class="hide-on-load">the following dietary requirements: <span
                    id="dietOption2"></span><span id="dietDetailText2"></span></span>
            </p>
          </div>
          <div id="rsvpConfirmation3" class="rsvp-row form-group rsvp-form  person-row">
            <p>
              <span id="invitee-summary3"></span>
              is <span id="RSVPNo3">not </span>able to attend the wedding.
              <span id="ChoirYes3" class="hide-on-load">
                They will be joining the choir, singing <span id="voicePartGuest3"></span>.
              </span>
              <span id="dietary3" class="hide-on-load">They have <span id="DietNo3">no dietary requirements</span>
                <span id="DietYes3" class="hide-on-load">the following dietary requirements: <span
                    id="dietOption3"></span><span id="dietDetailText3"></span></span>
            </p>
          </div>
          <div id="rsvpConfirmation4" class="rsvp-row form-group rsvp-form  person-row">
            <p>
              <span id="invitee-summary4"></span>
              is <span id="RSVPNo4">not </span>able to attend the wedding.
              <span id="ChoirYes4" class="hide-on-load">
                They will be joining the choir, singing <span id="voicePartGuest4"></span>.
              </span>
              <span id="dietary4" class="hide-on-load">They have <span id="DietNo4">no dietary requirements</span>
                <span id="DietYes4" class="hide-on-load">the following dietary requirements: <span
                    id="dietOption4"></span><span id="dietDetailText4"></span></span>
            </p>
          </div>
          <div id="rsvpConfirmation5" class="rsvp-row form-group rsvp-form  person-row">
            <p>
              <span id="invitee-summary5"></span>
              is <span id="RSVPNo5">not </span>able to attend the wedding.
              <span id="ChoirYes5" class="hide-on-load">
                They will be joining the choir, singing <span id="voicePartGuest5"></span>.
              </span>
              <span id="dietary5" class="hide-on-load">They have <span id="DietNo5">no dietary requirements</span>
                <span id="DietYes5" class="hide-on-load">the following dietary requirements: <span
                    id="dietOption5"></span><span id="dietDetailText5"></span></span>
            </p>
          </div>
          <div id="rsvpConfirmation6" class="rsvp-row form-group rsvp-form  person-row">
            <p>
              <span id="invitee-summary6"></span>
              is <span id="RSVPNo6">not </span>able to attend the wedding.
              <span id="ChoirYes6" class="hide-on-load">
                They will be joining the choir, singing <span id="voicePartGuest6"></span>.
              </span>
              <span id="dietary6" class="hide-on-load">They have <span id="DietNo6">no dietary requirements</span>
                <span id="DietYes6" class="hide-on-load">the following dietary requirements: <span
                    id="dietOption6"></span><span id="dietDetailText6"></span></span>
            </p>
          </div>

        </div>
        <div class="rsvp-button-row form-group rsvp-form hide-on-load" id="submit-rsvp-button-section">
          <button id="submit-rsvp-button" class="contact-button button">
            <h4>RSVP</h4>
          </button>
        </div>
      </div>

    </form>
    <div id="not-form">
      <div class="page-section" id="trees">
        <h3 style="padding: 0px;">Tree Count</h3>
        <h2 style="color:  #89ba49;">{{number_of_trees}}</h2>
        <p>Our wedding vodka is by <a href="https://saplingspirits.com/" target="_blank"
            style="display: inline;">Sapling Spirits</a>, who plant a tree per bottle sold, and we are also planting a
          tree with <a href="https://www.thetreeapp.org/about" target="_blank" style="display: inline;">Treeapp</a> for
          every RSVP we receive!
          <br><br><a href="https://www.thetreeapp.org/about" target="_blank" style="display: inline;"><img
              src="../static/images/treeapplogo.png" height="50vh" width="auto"></a>

        </p>

      </div>
      <div id="contact-page">
        <div class="contact-button button" id="contact-us">
          <a class="contact-button-link"
            href="mailto:maggie.and.ollie.wedding@gmail.com?subject=Wedding%20Website%20Enquiry">
            <h4>Contact us</h4>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="gifContainer">
    <img id="gif" src="https://media.giphy.com/media/4KEL7wLu9M3IimfIIS/giphy.gif" alt="GIF">
  </div>
  <script src="../static/js/script.js"></script>
  <script src="../static/js/RSVPformscript.js"></script>
  <script src="../static/js/RSVPlookupscript.js"></script>
  <script>
    var listOfInvitations = {{ invitationList | safe }};

    listOfInvitees(listOfInvitations);
    invitations = searchableList(listOfInvitations);

    form_data = request.form;
    print(str(form_data))
  </script>
</body>

</html>
