<!DOCTYPE html>
<html>

<head>
  <!-- title: CHANGE ME -->
  <title>Maggie and Ollie's Wedding!</title>
  <link rel="icon" href="../static/images/icon.png">

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&family=Playfair+Display+SC&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <link rel="stylesheet" href="../static/css/RSVPstylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- meta -->
  <meta name="author" content="Maggie Hunt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The wedding of Maggie Hunt and Oliver Norman">
  <base href="/">
</head>

<body>
  <div class="header-and-nav topnav">
    <div id="header">
      <h1><a href="/">M&O</a></h1>
    </div>
    <nav class="big-menu">
      <ul>
        <li><a href="/#ceremony">Ceremony</a></li>
        <li><a href="/#reception">Reception</a></li>
        <li><a href="RSVP">RSVP</a></li>
        <li><a onclick="revealFromRSVP('gettingThere')">Getting There</a></li>
        <li><a onclick="revealFromRSVP('accommodation')">Accommodation</a></li>
        <li><a onclick="revealFromRSVP('dressCode')">Dress Code</a></li>
        <li><a onclick="revealFromRSVP('giftRegistry')">Gift Registry</a></li>
        <li><a onclick="revealFromRSVP('choir')">Choir</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Navigation links (hidden by default) -->
    <nav class="small-menu">
      <div id="myLinks">
        <a href="/#ceremony" onclick="expandFunction()">Ceremony</a>
        <a href="/#reception" onclick="expandFunction()">Reception</a>
        <a href="/RSVP" onclick="expandFunction()">RSVP</a>
        <a href="/#getting-there-accommodation" onclick="expandFunction(); revealFromRSVP('gettingThere')">Getting
          There</a>
        <a href="/#getting-there-accommodation"
          onclick="expandFunction(); revealFromRSVP('accommodation')">Accommodation</a>
        <a href="/#dress-code-gift-registry-choir" onclick="expandFunction(); revealFromRSVP('dressCode')">Dress
          Code</a>
        <a href="/#dress-code-gift-registry-choir" onclick="expandFunction(); revealFromRSVP('giftRegistry')">Gift
          Registry</a>
        <a href="/#dress-code-gift-registry-choir" onclick="expandFunction(); revealFromRSVP('choir')">Choir</a>
        <a href="/#contact-us" onclick="expandFunction()">Contact Us</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="expandFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </div>

  <div id="page-content">
    <div><br>
      <h1>Thank you</h1>
      <p>Thank you for responding to our invitation! You will receive confirmation of your response via email.<br><br>
        Thanks to your RSVP, we've now planted one more tree!</p>
    </div>
    <div class="page-section" id="trees">
      <h3 style="padding: 0px;">Tree Count</h3>
      <h2 style="color:  #89ba49;">{{number_of_trees}}</h2>
      <p>Our wedding vodka is by <a href="https://saplingspirits.com/" target="_blank" style="display: inline;">Sapling
          Spirits</a>, who plant a tree per bottle sold, and we are also planting a
        tree with <a href="https://www.thetreeapp.org/about" target="_blank" style="display: inline;">Treeapp</a> for
        every RSVP we receive!
        <br><br><a href="https://www.thetreeapp.org/about" target="_blank" style="display: inline;"><img
            src="../static/images/treeapplogo.png" height="50vh" width="auto"></a>

      </p>

    </div>
    <div id="contact-page">
      <div class="contact-button button" id="contact-us">
        <a class="contact-button-link"
          href="mailto:maggie.and.ollie.wedding@gmail.com?subject=Wedding%20Website%20Enquiry">
          <h4>Contact us</h4>
        </a>
      </div>
    </div>
  </div>


  <script src="../static/js/script.js"></script>
  <script src="../static/js/RSVPformscript.js"></script>
  <script src="../static/js/RSVPlookupscript.js"></script>
</body>

</html>